.home-index{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 160px;
}

.ul-container{
  
  height: 77vh;
  width: 35%;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.homes-ul{
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
  width: 98%;
  height: 100%;
  align-items: center;
  text-align: center;
  list-style: none;
  text-decoration: none;
  
}

.homes-ul li {
  width: 95%;
  min-height: 270px;
  max-width: 330px;
  margin: 7px;
}

.homes-ul > a {
  display: contents;
  text-decoration: none;
  color: black;
}

.top-info{
  width: 100%;
  height: 60%;
  border: solid;
  border-bottom: none;
}

.bottom-info{
  width: 100%;
  height: 40%;
  border: solid;
}