.map-container{
  height: 77vh;
  width: 65vw;
}
.the-display-none-map{
  display: none;
}
.map-search-page{
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  display: flex;
  align-items: center;
  padding-left: 40px;
  justify-content: center;
  position: absolute;
  width: 100%;

  background-size: 400% 400%;
  animation: gradientBG 13s ease infinite;
}
@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.map-search-header{
  height: 25%;
  width: 50%;
  position: absolute;
  display: flex;
  top: 0;
  justify-content: center;
  font-family: "Ivar Headline","Times New Roman",serif;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  white-space: nowrap;
  font-weight: 600;
}
.landing-page-map-search {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
}
.map-search-inner{
  height: 50%;
  width: 50%;
}
.mapboxgl-ctrl {
  clear: both;
  pointer-events: auto;
}
svg.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  height: 73px;
  width: 50px;
  position: absolute;
  right: 0;
  z-index: 1;
  border-left: 1px solid rgb(241, 241, 244);
}
input.mapboxgl-ctrl-geocoder--input {
  width: 600px;
  height: 26px;
  padding: 22px;
  font-size: 22px;
  
}
.suggestions-wrapper {
  position: absolute;
  background: #ffffff;
  width: 647px;
  right: 0;
}
ul.suggestions {
  list-style: none;
  padding: 22px;
}
li.active {
  background-color: #F1F1F4;
}
.suggestions-wrapper li:hover{
  background-color: #F1F1F4;
  cursor: pointer;
}
.mapboxgl-ctrl-logo{
  display: none !important;
}
.mapboxgl-ctrl-geocoder--pin-right{
  display: none !important;
}
.map-search-title{
  margin: 15px 0;
  color: #eee;
}
h1.map-search-title {
  font-size: 60px
}
.map-search-title.subtext {
  font-size: 22px;
}
.mapboxgl-ctrl-geocoder--suggestion {
  border-bottom: 1px solid rgb(241, 241, 244);
}
.mapboxgl-ctrl-geocoder--suggestion-title {
  color: rgb(10, 10, 20);
  margin-bottom: 5px;
  font-size: 22px;

}
.mapboxgl-ctrl-geocoder--suggestion-address {
  color: rgb(10, 10, 20);
  font-size: 22px;
}
