@import "nav.css";
@import "searchbar.css";
@import "home-detail.css";


*{
    font-family: Open Sans, Gotham, gotham, Tahoma, Geneva, sans-serif
}

button:active{
    outline: none;
}

input:active{
    outline: none;
}