
.home-show-container{
    /* background-color: green; */
    z-index: 3;
    margin: 0 auto;
    margin-top: 160px;
    width: 90%;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.back-to-home-link{
    margin-bottom: 30px;
}

.home-show{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid blue;
}

.show-pics-col{
    width: 54%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: purple; */
    border: 1px solid blue;
}

.show-photo{
    height: 70%;
    width: 100%
}

.show-high-bid{
    height: 30%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    
}

.show-bid-item{
    margin: 0 auto;
    height: 60px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.show-bid-item h4{
    margin-right: 10px;
}

.show-info-col{
    width: 44%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid blue;
    /* background-color: pink; */
}

.show-bidding-box{
    height: 39%;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid blue;
}

.show-info-box{
    height: 59%;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid blue;
    overflow: hidden;
    overflow-y: scroll;
}

.show-info-box::-webkit-scroll{
    width: 0;
}

.show-info-text{
    margin: 15px 0;
}

.bid-form-container{
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bid-form{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bid-input{
    width: 200px;
    height: 20px;
    
    border-radius: 2px;
    font-size: 20px;
}

.bid-submit{
    width: 200px;
    height: 50px;
    color: whitesmoke;
    background-color: rgb(11, 70, 230);
    border-radius: 2px;
    font-size: 20px;
    font-weight: 700;
}

.bid-success{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.loading{
    margin-top: 50vh;
    margin-left: 50vw;
}

