header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  /* border: 2px solid; */
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.nav-items{
  /* margin: 25px; */
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.navbar-left{
  width: 38%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.navbar-right{
  width: 38%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar-right a {
  margin-right: 5%;
}

.zbay-icon-main{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.zbay-icon-main > img{
  height: 80%;
  width: auto;
}

.logout-button-nav{
  margin: 0 20px 0 0;
  height: 65%;
  width: 100px;
  border: 1px solid lightgray;
  color: rgb(11, 70, 230);
  cursor: pointer;
  font-weight: 800;
  background: #fafafa;
  font-family: 'Poiret One', cursive;
}

.navbar-link{
  margin: 0 15px;
  min-width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  font-weight: 800;
}

.navbar-link:hover {
  background: #d8f3fe;
  font-weight: bold;
}

.nav-links:hover {
  background: #ffcccb;
  /* background: rgb(255, 182, 182); */
}

.social-link:hover {
  background: #d8f3fe;
}

.social-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  padding: 40px;
  height: auto;
  width: auto;
  border-radius: 8px;
  background-size: 1000% 400%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  white-space: nowrap;
}

.social-name {
  font-weight: 900;
  font-size: 20px;
}

.social-name:hover {
  text-decoration: underline;
  color: white;
}

.fa-linkedin:hover, .fa-github:hover {
  color: white;
}

.social-linkedin {
  content: url("../icons8-linkedin-50.png");
}

.social-linkedin:hover {
  content: url("../icons8-linkedin-50-1.png");
}

.social-github {
  content: url("../icons8-github-50.png");
}

.social-github:hover {
  content: url("../icons8-github-50-1.png");
}