
.profile-container{
    margin: 0 auto;
    width: 95%;
    height: auto;
    /* background-color: pink; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-ul{
  z-index: 2;
  display: flex;
  flex-direction: row;
  /* padding: 25px; */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  text-decoration: none;
  flex-wrap: wrap;
}

.profile-ul li{
  width: 95%;
    min-height: 270px;
    max-width: 330px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.profile-ul li:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.profile-slideshow {
  box-sizing: border-box;
	position: relative;
  margin: 0 auto;
  width: 300px;
  background: #fff;
	height: 170px;
	overflow: hidden;
	margin-bottom: 15px;	
}

.profile-header{
  font-family: "Ivar Headline","Times New Roman",serif;
  font-size: 60px;
  text-decoration: underline;
  margin: 15px 0 30px 0;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.profile-top{
  width: 100%;
  height: 210px;
  border: solid thin rgba(0,0,0,0.24);
  /* border-bottom: none; */
}

.profile-bottom{
  width: 100%;
  height: 60px;
  border: solid thin rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}



.user-ul-container{
  height: auto;
  width: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.profile-card {
  /* border: solid thin rgba(0,0,0,0.24); */
  margin: 15px;
}

.delete-hm-btn {
  background-color: #d32323;
  border: 1px solid #d32323;
  width: 50%;
  height: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.delete-hm-btn:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.delete-hm-btn p {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bolder;
}