
.searchbar-container{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    /* background-color: pink; */
}

.searchbar-inputs{
    margin-left: 20px;
    height: 95%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: lightblue; */
}

.searchbar-input-field{
    margin-right: 20px;
    padding-left: 6px;
    height: 60%;
    width: 200px;
    border-radius: 4px;
    border: 1px solid gray;
    font-size: 14px;
}

.searchbar-input-button{

    height: 67%;
    width: 100px;
    border: 1px solid lightgray;
    color: whitesmoke;
    background-color: rgb(11, 70, 230);
    cursor: pointer;
}

.searchbar-button{
    margin: 0 8px 0 20px;
    height: 65%;
    width: 100px;
    border: 1px solid lightgray;
    color: rgb(11, 70, 230);
    cursor: pointer;
}

[class*="-button"]{
    font-size: 14px;
    font-weight: 600;
}

.clicked{
    color: whitesmoke;
    background-color: rgb(11, 70, 230);
}

.searchbar-input-button:focus, 
.searchbar-input-field:focus, 
.searchbar-button:focus{
    outline: none;
}